
body{
    margin: 0;
    background-image: url("https://cutewallpaper.org/21/hd-dark-wallpaper/Dark-Wallpaper-1920x1080-28-images-on-Genchi.info.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:center;
    background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
  
}

h2{
    margin-top: -50px;
    margin-left: 600px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 80px;
    text-align: center;
}

.clock{
    display: flex;
    margin-left: 600px;
}

.clock div{
    margin: 15px;
    position: relative;
}

.clock span{
    width: 120px;
    height: 100px;
    background-color: rgb(38, 134, 230);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    text-shadow: 2px 2px 4px rgba(11, 11, 11, 0.61);
    box-shadow: 3px 2px 3px  whitesmoke;
   
}

.clock .text{
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(22, 94, 239);
    opacity: 0.8;
}

 .clock .ampm{
    bottom: 0;
     position: relative;
    width: 70px;
    height: 40px;
    font-size: 30px;
    background: rgb(184, 66, 105);
}